#sidebar {
  margin-left: 1rem;
  margin-right: 1rem;
  max-width: 50vw;
  min-height: 80vh;

  top: 5rem;
  position: fixed;

  border-color: rgba(233, 227, 222, 0.175) (51, 45, 45);
  margin-top: 2rem;
  margin-right: 2rem;
  box-shadow: 4px 4px 4px 1px rgba(0, 0, 255, 0.2);
  border-radius: 10px;
  background: rgb(223, 218, 218);
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  #sidebar {
    display: none;
  }
}

#container {
  padding: 1rem;
  min-width: 10vw;
}
